In [1]:
import numpy as np
import pandas as pd
import regex as re

import matplotlib.pyplot as plt
import seaborn as sns



%matplotlib inline

In [2]:
df = pd.read_csv('fake_reviews_dataset.csv')

In [3]:
df.shape

(40432, 4)

In [4]:
df.sample(10)

,category,rating,label,text_
31941,Books_5,5.0,OR,"Stauffer tells a great story, highlighting the..."
22659,Pet_Supplies_5,2.0,OR,"While the ingredients are great, I have very p..."
25585,Kindle_Store_5,5.0,OR,Excellent box collection of poems!!!! If you l...
5671,Sports_and_Outdoors_5,4.0,CG,I had been looking for a set of these to try o...
7303,Sports_and_Outdoors_5,4.0,CG,The case is plenty big. I have an XL and I wi...
462,Home_and_Kitchen_5,4.0,OR,Definitely not water proof but worth the price...
13009,Movies_and_TV_5,5.0,CG,Al Pacino is one of the most entertaining char...
6648,Sports_and_Outdoors_5,5.0,CG,Use this to size and it will fit the long legs...
23614,Pet_Supplies_5,2.0,CG,I ordered this bed so that my dog wouldn't try...
18690,Tools_and_Home_Improvement_5,5.0,OR,I bought these cool white bulbs expecting a pa...

In [5]:
df.label.unique()

array(['CG', 'OR'], dtype=object)

In [6]:
df.label.value_counts()

CG    20216
OR    20216
Name: label, dtype: int64

In [7]:
df.category.unique()

array(['Home_and_Kitchen_5', 'Sports_and_Outdoors_5', 'Electronics_5',
       'Movies_and_TV_5', 'Tools_and_Home_Improvement_5',
       'Pet_Supplies_5', 'Kindle_Store_5', 'Books_5', 'Toys_and_Games_5',
       'Clothing_Shoes_and_Jewelry_5'], dtype=object)

In [8]:
import unicodedata
import re
import nltk
from nltk.tokenize.toktok import ToktokTokenizer
from nltk.corpus import stopwords

In [9]:
def clean_text(text):
    lemmatizer = nltk.stem.WordNetLemmatizer()
    stopwords = nltk.corpus.stopwords.words('english')
    unaccented_text = unicodedata.normalize('NFKD',text).encode('ascii', 'ignore').decode('utf-8', 'ignore').lower()
    words= re.sub(r'[^\w\s]', ' ', unaccented_text).split()
    clean_text = [lemmatizer.lemmatize(word) for word in words if word not in stopwords]
    
    return ' '.join(clean_text)

In [10]:
df.head()

,category,rating,label,text_
0,Home_and_Kitchen_5,5.0,CG,"Love this! Well made, sturdy, and very comfor..."
1,Home_and_Kitchen_5,5.0,CG,"love it, a great upgrade from the original. I..."
2,Home_and_Kitchen_5,5.0,CG,This pillow saved my back. I love the look and...
3,Home_and_Kitchen_5,1.0,CG,"Missing information on how to use it, but it i..."
4,Home_and_Kitchen_5,5.0,CG,Very nice set. Good quality. We have had the s...

In [11]:
df['clean_text'] = df['text_'].apply(clean_text)

In [12]:
df.head()

,category,rating,label,text_,clean_text
0,Home_and_Kitchen_5,5.0,CG,"Love this! Well made, sturdy, and very comfor...",love well made sturdy comfortable love pretty
1,Home_and_Kitchen_5,5.0,CG,"love it, a great upgrade from the original. I...",love great upgrade original mine couple year
2,Home_and_Kitchen_5,5.0,CG,This pillow saved my back. I love the look and...,pillow saved back love look feel pillow
3,Home_and_Kitchen_5,1.0,CG,"Missing information on how to use it, but it i...",missing information use great product price
4,Home_and_Kitchen_5,5.0,CG,Very nice set. Good quality. We have had the s...,nice set good quality set two month

In [13]:
def clean_textt(text):
    lemmatizer = nltk.stem.WordNetLemmatizer()
    stopwords = nltk.corpus.stopwords.words('english')
    unaccented_text = unicodedata.normalize('NFKD',text).encode('ascii', 'ignore').decode('utf-8', 'ignore').lower()
    words= re.sub(r'[^\w\s]', ' ', unaccented_text).split()
    clean_text = [lemmatizer.lemmatize(word) for word in words if word not in stopwords]
    
    return ' '.join(clean_text)

In [16]:
print(clean_textt('missing king the very a going'))

missing king going